{% extends "fnc/base.html" %}
{% load nikbad_tags %}
{% block head %}
    <title>گزارش مالی</title>
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header"> گزارش مالی </h2>

        <div class="panel">
            <h2 class="panel-header"> انتخاب تاریخ </h2>

            <form class="form-horizontal" action="" method="post">
                {% include "_hForm.html" with form=form submit_text="نمایش" %}
            </form>

        </div>

        <table class="table table-hover table-striped">
            <colgroup>
                <col width="30px">
                <col width="70px">
                <col width="70px">
                <col width="70px">
                <col>
                <col width="50px">
            </colgroup>
            <thead>

            <td class="FNC-th-td">کد</td>
            <td class="FNC-th-td"> بستانکاری</td>
            <td class="FNC-th-td"> بدهکاری</td>
            <td class="FNC-th-td"> تاریخ</td>
            <td class="FNC-th-td"> شرح جزئیات</td>
            </thead>
            <tbody>
            {% for cb in costBenefits %}
                <tr>

                    <td class="FNC-td2">
                        <label for="code" class="nohand col-lg-2 control-label">{{ cb.id }}</label>
                    </td>
                    <td class="FNC-td2"> {{ cb.bestan|rial }} </td>
                    <td class="FNC-td2"> {{ cb.bedeh|rial }} </td>
                    <td class="FNC-td2"> {{ cb.date }} </td>
                    <td class="FNC-td2"> {{ cb.description }} </td>

                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
{% block menus %}
    {% if perms.fnc.is_manager %}
        {% include "mng/_menus.html" with active_menu=1 %}
    {% else %}
        {% include "fnc/_menus.html" with active_menu=1 %}
    {% endif %}
{% endblock %}