<li class="header">
    <a> فهرست محصولات </a>
</li>
<li {% if active_menu == 1 %}class="active"{% endif %}>
    <a {% if active_menu != 1 %}href="{% url mng-fnc %}"{% endif %}>گزارش مالي<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 2 %}class="active"{% endif %}>
    <a {% if active_menu != 2 %}href="{% url mng-wrh %}"{% endif %}>گزارش انبارداري<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="{% url mng-wiki-select %}"{% endif %}>گزارش ويکي<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 4 %}class="active"{% endif %}>
    <a {% if active_menu != 4 %}href="{% url mng-sales %}"{% endif %}>گزارش خريد<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 5 %}class="active"{% endif %}>
    <a {% if active_menu != 5 %}href="{% url mng-emp %}"{% endif %}> گزارش کارمندان <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 6 %}class="active"{% endif %}>
    <a {% if active_menu != 6 %}href="{% url mng-newemp %}"{% endif %}> ثبت نام کارمند جدید <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 7 %}class="active"{% endif %}>
    <a {% if active_menu != 7 %}href="{% url mng-cont %}"{% endif %}> ثبت قرارداد <i class="icon-chevron-left"></i></a>
</li>
