{% extends "mng/base.html" %}
{% load nikbad_tags %}
{% block content %}


    <div class="panel">
        <h2 class="panel-header"> دفتر روزنامه </h2>

        {% if  not costBenefits %}
            <div class="panel">
                <p class="text-center">

                    <b>
                        در بازه ی زمانی انتخاب شده، گزارشی وجود ندارد.
                    </b>
                </p>
            </div>
        {% endif %}
        <div class="panel">
            <p>
                <b>
                    انتخاب بازه ی زمانی گزارش
                </b>
            </p>

            <form class="form-horizontal" action="" method="post">
                {% include "_hForm.html" with form=form submit_text="نمایش" %}
            </form>

        </div>



        {% if costBenefits %}
            <table class="table table-hover table-striped">
                <colgroup>
                    <col width="30px">
                    <col width="70px">
                    <col width="70px">
                    <col width="70px">
                    <col>
                    <col width="50px">
                </colgroup>
                <thead>

                <td class="FNC-th-td">شماره سند حسابداری</td>
                <td class="FNC-th-td"> تاریخ</td>
                <td class="FNC-th-td"> شرح سند</td>
                <td class="FNC-th-td"> بدهکاری(ریال)</td>
                <td class="FNC-th-td"> بستانکاری(ریال)</td>
                </thead>
                <tbody>
                {% for cb in costBenefits %}
                    <tr>

                        <td class="FNC-td2">
                            <label for="code" class="nohand col-lg-2 control-label">{{ cb.id }}</label>
                        </td>
                        <td class="FNC-td2"> {{ cb.date|jalali }} </td>
                        <td class="FNC-td2">
{{ cb.account_bedeh.name }} <br/>
<span style="margin-right:20px">{{ cb.account_bestan.name }}</span> <br/>
{{ cb.description }}

                        </td>
                        <td class="FNC-td2"> {{ cb.amount|rial }} </td>
                        <td class="FNC-td2"><br>{{ cb.amount|rial }} </td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}

        {% if costBenefits %}
            <div class="pagination-centered">
                <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page={{ costBenefits.previous_page_number }}">قبلي</a>
                {% endif %}
                    <span class="current">
                         صفحه{{ costBenefits.number }} از {{ costBenefits.paginator.num_pages }}.
                </span>
                    {% if contacts.has_next %}
                        <a href="?page={{ costBenefits.next_page_number }}">بعدي</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block menus %}
        {% include "mng/_menus.html" with active_menu=1 %}
{% endblock %}


{% block crumbs %}
    {{ block.super }}
    <li><a href="{% url mng-fnc %}">گزارش مالی نیک باد </a> <span class="divider">/</span></li>
{#    <li class="active">{{ item }}</li>#}

{% endblock %}