{% extends "mng/base.html" %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header"> ویرایش اطلاعات کارمند</h2>

        <div class="row-fluid">
 {{ Editform.non_field_errors }}
            <form class="form-horizontal" method="post" action="">
                {% include "_hForm.html" with form=EditForm read_only=0 %}


            </form>


    </div>
    </div>

{% endblock %}

{% block menus %}
        {% include "mng/_menus.html" with active_menu=5 %}
{% endblock %}

{% block crumbs %}

    {{ block.super }}
     <li><a href="{% url fnc-karmandan %}">فهرست کارمندان</a> <span class="divider">/</span></li>
    <li><a href="#">ویرایش اطلاعات کارمندان</a> <span class="divider">/</span></li>
{#    <li class="active">{{ item }}</li>#}

{% endblock %}