{% extends "mng/base.html" %}

{% load nikbad_tags %}

{% block content %}


    <div class="panel">

        <h2 class="panel-header">فهرست کالاهای ویترین {{ wiki.companyName }}</h2>

        <table class="table-striped" style="width: 100%">
            <thead>
            <tr>
                <th style="width: 10%">ردیف</th>

                <th style="width: 20%">کد کالا</th>

                <th style="width: 10%">برند</th>

                <th style="width: 25%">نام</th>

                <th style="width: 20%">قیمت (تومان)</th>

                <th style="width: 10%"></th>
            </tr>
            </thead>

            <tbody>
            {% for product in products %}
                {% with forloop.counter as num %}

                    <tr>
                        <td style="text-align: center">{{ num }}</td>

                        <td style="text-align: center">{{ product.goodsID }}</td>

                        <td style="text-align: center">{{ product.brand }}</td>

                        <td style="text-align: center">{{ product.name }}</td>

                        <td style="text-align: center">{{ product.price|toman }} </td>

                        <td style="text-align: center">
                            <a class="btn btn-primary" href="{% url sales-adEdit itemCode=product.pk %}">
                                <i class="icon-pencil icon-large"></i>
                            </a>
                        </td>
                        <td style="text-align: center">
                            <a class="btn btn-primary"
                               href="{% url product-edit gId=product.goodsID %}"> {{ submit_text|default:"ویرایش " }} </a> </button>
                        </td>

                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="pagination-centered">
        {% if products.has_previous %}
            <a href="?page={{ products.previous_page_number }}">قبل</a>
        {% endif %}

        صفحه{{ products.number }} از {{ products.paginator.num_pages }}.

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">بعد</a>
        {% endif %}
    </div>

{% endblock %}

{% block menus %}
    {% include "mng/_menus.html" with active_menu=3 %}
{% endblock %}


{% block crumbs %}
    {{ block.super }}
    <li><a href="{% url mng-wiki-select %}">صورت ویکی های طرف قرار داد</a> <span class="divider">/</span></li>
    <li><a href="{% url mng-wiki wiki.id %}">صورت کالاهای ویکی</a> <span class="divider">/</span></li>
    {#    <li class="active">{{ item }}</li>#}

{% endblock %}