{% extends "mng/base.html" %}

{% block css %}
    <link href="{{ STATIC_URL }}mng/css/WRH-style.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block head %}
    <title>گزارش مالی</title>
{% endblock %}


{% block content %}
    <div class="panel">
        <h2 class="panel-header"> گزارش مالی </h2>
        <table class="WRH-table2 table-hover table-striped">
            <thead>

            <td class="WRH-th-td" >کد </td>
            <td class="WRH-th-td"> بستانکاری</td>
            <td class="WRH-th-td"> بدهکاری </td>
            <td class="WRH-th-td"> شرح جزئیات </td>
            <td class="WRH-th-td">  </td>
            </thead>
            <tbody>
            {% for cb in costBenefits %}
                <tr>

                    <td class="WRH-td2">
                        <label for="code" class="nohand col-lg-2 control-label">{{ cb.id }}</label>
                    </td>
                    <td class="WRH-td2"> {{ cb.bestan }} </td>
                    <td class="WRH-td2"> {{ cb.bedeh }} </td>
                    <td class="WRH-td2"> {{ cb.description }} </td>
                    <td class="WRH-td2">ویرایش </td>
                </tr>
            {% endfor %}
            {% for sb in saleBills %}
                <tr>
                    <td class="WRH-td2 Edit"> <input type="image" class="WRH-myimage2 Edit" src="images/financial/edit_pic.jpg"/></td>
                    <td class="WRH-td2">
                        <label for="code" class="nohand col-lg-2 control-label">{{ sb.id }}</label>
                    </td>
                    <td class="WRH-td2"> {{ sb.totalPrice }} </td>
                    <td class="WRH-td2">  </td>
                    <td class="WRH-td2"> {{ sb.customer.get_full_name}} خرید توسط</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
{% block menus %}
    {% include "mng/_menus.html" with active_menu=1 %}
{% endblock %}