{% extends "mng/base.html" %}
{% block title %}
    گزارش فروش
{% endblock %}
{% block content %}
    <div class="panel" xmlns="http://www.w3.org/1999/html">
        <h2 class="WRH-heading2"> لیست خرید </h2>

        <div class="WRH-panel2">
            <br />
            {% if product %}
                <p>
                                    </p>
                <br />
                <table class="WRH-table2 table-hover table-striped">
                    <thead>
                    <td class="WRH-th-td2"></td>
{#                    <td class="WRH-th-td2"> شماره فاکتور</td>#}
{#                    <td class="WRH-th-td2"> نام مشتری</td>#}
{#                    <td class="WRH-th-td2">نام ویکی </td>#}
                    <td class="WRH-th-td2"> نام کالا </td>
                    <td class="WRH-th-td2" >کد کالا  </td>
                    <td class="WRH-th-td2"> تعداد </td>

                    <td class="WRH-th-td2"> قیمت هر واحد</td>
                    <td class="WRH-th-td2"> وضعیت </td>
                    </thead>
                    <tbody>
                    {% for pro in  product %}
                        <tr>

                            <td class="WRH-td2"><img class="WRH-myimage2" src="{{ pro.product.ad.icon.image.url }}"/></td>
                            <td class="WRH-td2">
                                {{ pro.product.name }}
                            </td>
                            <td class="WRH-td2">
                                {{ pro.product.goodsID }}
                            </td>
                            <td class="WRH-td2"> {{ pro.number }}</td>
                            <td class="WRH-td2">
                                {{ pro.product.price }}
                            </td>
                            <td class="WRH-td2">
                                {% if saleBill.deliveryStatus == 1 %}
                                    در راه
                                {% elif saleBill.deliveryStatus == 0 %}
                                    صادر شده
                                {% else %}
                                    تحویل شده
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <br />

            {% endif %}
        </div>
    </div>
{% endblock %}
{% block menus %}
    {% include "mng/_menus.html" with active_menu=4%}
{% endblock %}

