{% extends "mng/base.html" %}

{% block head %}
    <title>
    گزارش ویکی ها
    </title>
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}mng/css/fnc-style.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="panel">
        <h2 class="panel-header"> لیست ویکی ها</h2>
        <table class="FNC-table2 table-hover table-striped">
            <thead>

            <td class="FNC-th-td"> نام ویکی</td>
            <td class="FNC-th-td"> شماره ویکی </td>
            <td class="FNC-th-td"> تاریخ شروع قرار داد</td>
            <td class="FNC-th-td"> تاریخ پایان قرار داد</td>

            </thead>
            <tbody>
            {% for w in wikies %}
                <tr>
                    <td class="FNC-td2"> <a href="{% url mng-wiki wId=w.id %}"> {{ w.companyName }}</a> </td>
                    <td class="FNC-td2">  {{ w.id }}</td>
                    {% with w.Contract_set.latest  as cont %}
                    <td class="FNC-td2">  {{cont.startDate }}</td>
                    <td class="FNC-td2">  {{cont.exptDate }}</td>
                {% endwith %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
{% block menus %}
    {% include "mng/_menus.html" with active_menu=3 %}
{% endblock %}