{% extends "fnc/base.html" %}
{% load nikbad_tags %}
{% block content %}


    <div class="panel">
        <h2 class="panel-header"> تراز مالی </h2>

    </div>
    <table class="table table-hover table-striped">
        <colgroup>
            <col width="30px">
            <col width="70px">
            <col width="70px">
            <col width="70px">
            <col>
            <col width="50px">
        </colgroup>
        <thead>
        <td class="FNC-th-td">نام حساب</td>
        <td class="FNC-th-td"> گردش بدهکار(ریال)</td>
        <td class="FNC-th-td"> گردش بستانکار(ریال)</td>
        <td class="FNC-th-td"> مانده ی بدهکار(ریال)</td>
        <td class="FNC-th-td"> مانده ی بستانکار(ریال)</td>
        </thead>
        <tbody>
        {% for row in tarazes.rows_taraz.all %}
            <tr>
                <td class="FNC-td2"> {{ row.account.name }} </td>
                <td class="FNC-td2"> {{ row.gardesh_bedeh }} </td>
                <td class="FNC-td2"> {{ row.gardesh_bestan }} </td>
                <td class="FNC-td2"> {{ row.mande_bedeh }} </td>
                <td class="FNC-td2">{{ row.mande_bestan }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td class="FNC-td2"> جمع</td>
            <td class="FNC-td2"> {{ s1 }} </td>
            <td class="FNC-td2"> {{ s2 }} </td>
            <td class="FNC-td2"> {{ s3 }} </td>
            <td class="FNC-td2">{{ s4 }}</td>
        </tr>
        </tbody>
    </table>

    </tbody>
    </table>


{% endblock %}
{% block menus %}
    {% comment %}
    {% if perms.fnc.is_manager %}
        {% include "mng/_menus.html" with active_menu=5 %}
    {% else %}
        {% include "fnc/_menus.html" with active_menu=2 %}
    {% endif %}
    {% endcomment %}
    {% include "mng/_menus.html" with active_menu=13 %}
{% endblock %}


{% block crumbs %}
    {{ block.super }}
    <li><a href="{% url mng-taraz-azmayeshi %}">تراز مالی</a> <span class="divider">/</span></li>

    {#    <li class="active">{{ item }}</li>#}

{% endblock %}