{% extends "wiki/base.html" %}

{% block crumbs %}
    <li><a href="{% url index %}">
        <i class="icon-home icon-large"></i>
        نیک باد
    </a> <span class="divider">/</span></li>

    <li><a href="{% url wiki-index %}">
        ویکی
    </a> <span class="divider">/</span></li>
    <li class="active">
        حذف کالا
    </li>
{% endblock %}

{% block content %}


<div class="panel">
  <h2 class="panel-header">حذف کالا</h2>
    <p>توجه فرمایید که شما نمی توانید کالایی را که درانبار موجودی دارد پاک کنید.</p>
    <form action="" class="form-horizontal" method="post">


    {% include '_hform.html' with show_star=1 submit_text='حذف کالا' %}
    
    </form>
</div>
{% endblock %}
{% block menus %}
    {% include "wiki/_menus.html" with active_menu=2%}
{% endblock %}


