{% extends "wiki/wiki.html" %}

{% block title %}
    بازار اینترنی نیک باد-ویترین الکترونیکی
{% endblock %}
{% load nikbad_tags %}

{% block crumbs %}
    <li><a href="{% url index %}">
        <i class="icon-home icon-large"></i>
        نیک باد
    </a> <span class="divider">/</span></li>

    <li><a href="{% url wiki-index %}">
    ویکی
    </a> <span class="divider">/</span></li>
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header">وضعیت قرارداد</h2>
        {% for con in contract %}
        تاریخ شروع:
    {{ con.startDate|jalali }}
        <br>
    تاریخ پایان:
    {{ con.expDate|jalali }}
        <br>
                درصد تسهیم سود:
    {{ con.percent }}

         <br>
            حداکثر تعداد کالا:
            {{ con.max_goods }}
            <br>
            آبونمان:
            {{ con.fee }}

    {% endfor %}

    {% if len  == 0 %}
        <h4 class="panel-header">
        شما در حال حاضر قراردادی با سراب نبسته اید. جهت درخواست برای بستن قرارداد روی لینک عملیات قرارداد کلیک کرده
            و یک درخواست برای سراب بفرستید.
        </h4>
    {% endif %}

    </div>


{% endblock %}

{% block menus %}

    {% include "wiki/_menus.html" %}

{% endblock %}
