{% extends "wiki/base.html" %}

{% block crumbs %}
    <li><a href="{% url index %}">
        <i class="icon-home icon-large"></i>
        نیک باد
    </a> <span class="divider">/</span></li>

    <li><a href="{% url wiki-index %}">
        ویکی
    </a> </li>

{% endblock %}

{% block content %}


<div class="panel">
    <h4>
        کالای مورد نظر موجود نمی باشد.
    </h4>
    <center><img src="../../static/images/error.png" width="128" height="128" alt=""></center>
</div>
{% endblock %}

{% block menus %}
    {% include "wiki/_menus.html" with active_menu=0%}
{% endblock %}

