{% extends "wiki/wiki.html" %}

{% block crumbs %}
    <li><a href="{% url index %}">
        <i class="icon-home icon-large"></i>
        نیک باد
    </a> <span class="divider">/</span></li>

    <li><a href="{% url wiki-index %}">
        ویکی
    </a> <span class="divider">/</span></li>
    <li><a href="{% url add-product %}">
        تعریف کالای جدید
    </a> </li>
{% endblock %}

{% block content %}


    <div class="panel">
        <h4>
            کالای شما با موفقیت ثبت شد. برای ایجاد ویترین
            روی لینک زیر کلیک کنید.
            <a href="{% url sales-adEdit itemCode=product.goodsID %}"> ایجاد ویترین</a>
        </h4>
        <center><img src="../../static/images/good_or_tick.png" width="128" height="128" alt=""></center>
    </div>
{% endblock %}

{% block menus %}

    {% include "wiki/_menus.html" %}

{% endblock %}

