{% extends "wiki/base.html" %}


{% block crumbs %}
    <li><a href="{% url index %}">
        <i class="icon-home icon-large"></i>
        نیک باد
    </a> <span class="divider">/</span></li>

    <li><a href="{% url wiki-index %}">
        ویکی
    </a> <span class="divider">/</span></li>
    <li class="active">
        ویرایش کالا
    </li>
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header"> ویرایش کالا </h2>
        <div class="row-fluid">
            {{ Editform.non_field_errors }}
            <form class="form-horizontal" method="post" action= "{% url product-edit gId=product  %}">
                {% include "_hForm.html" with form=ProductForm read_only=0 show_star=1%}


            </form>


        </div>
    </div>

{% endblock %}

{% block menus %}
    {% include "wiki/_menus.html" with active_menu=0%}
{% endblock %}

