{% extends "wiki/base.html" %}

{% block crumbs %}
    <li><a href="{% url index %}">
        <i class="icon-home icon-large"></i>
        نیک باد
    </a> <span class="divider">/</span></li>

    <li><a href="{% url wiki-index %}">
        ویکی
    </a> <span class="divider">/</span></li>
    <li><a href="{% url return-req %}">
        بازگشت کالا از انبار
    </a> </li>
{% endblock %}

{% block content %}


    <div class="panel">
        <h2 class="panel-header">فرم بازگشت کالا از انبار</h2>
        <form action="" class="form-horizontal" method="post">


            {% include '_hform.html' %}

        </form>
    </div>
{% endblock %}
{% block menus %}
    {% include "wiki/_menus.html" with active_menu=6%}
{% endblock %}


