{% extends "wiki/base.html" %}

{% block crumbs %}
    <li><a href="{% url index %}">
        <i class="icon-home icon-large"></i>
        نیک باد
    </a> <span class="divider">/</span></li>

    <li><a href="{% url wiki-index %}">
        ویکی
    </a> <span class="divider">/</span></li>
    <li><a href="{% url sales-report %}">
        فهرست تجمیعی فروش کالاها
    </a> </li>
{% endblock %}


{% block content %}


    <div class="panel">

        <h2 class="panel-header">فهرست تجمیعی فروش کالاها</h2>

        <table class="table-striped" style="width: 100%">
            <thead>
            <tr>
                <th style="width: 10%">ردیف</th>

                <th style="width: 15%">کد کالا</th>

                <th style="width: 20%">نام تجاری</th>

                <th style="width: 25%">نام</th>

                <th style="width: 15%">تعداد به فروش رفته</th>
            </tr>
            </thead>

            <tbody>
            {% for product, sum in pro_list %}
                {% with forloop.counter as num %}

                    <tr>
                        <td style="text-align: center">{{ num }}</td>



                            <td style="text-align: center">{{ product.goodsID }}</td>

                            <td style="text-align: center">{{ product.brand }}</td>

                            <td style="text-align: center">{{ product }}</td>

                            <td style="text-align: center">{{ sum }}</td>

                    <td style="text-align: center">{{ sum }}</td>






                {% endwith %}
            {% endfor %}



            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block menus %}
    {% include "wiki/_menus.html" with active_menu=7%}
{% endblock %}

