{% extends "wiki/base.html" %}
{% load nikbad_tags %}

{% block crumbs %}
    <li><a href="{% url index %}">
        <i class="icon-home icon-large"></i>
        نیک باد
    </a> <span class="divider">/</span></li>

    <li><a href="{% url wiki-index %}">
        ویکی
    </a> <span class="divider">/</span></li>
    <li class="active">
        سفارش های کالا از طرف انبار
     </li>
{% endblock %}

{% block content %}


    <div class="panel">

        <h2 class="panel-header">فهرست سفارش های انبار</h2>
    <div class="text-error">
        توجه کنید که تا زمانی که کالا در انبار موجودی داشته باشد فروش کالا ادامه خواهد داشت.
    </div>

        <table class="table-striped" style="width: 100%">
            <thead>
            <tr>
                <th style="width: 10%">ردیف</th>

                <th style="width: 15%"> تاریخ صدور </th>

                <th style="width: 15%">کد کالا</th>

                <th style="width: 20%">نشان تجاری</th>

                <th style="width: 25%">نام</th>

                <th style="width: 15%">تعداد لارم</th>
            </tr>
            </thead>

            <tbody>
            {% for order in order_list%}
                {% with forloop.counter as num %}

                    <tr>

                        <td style="text-align: center">{{ num }}</td>

                        <td style="text-align: center">{{ order.date|jalali }}</td>

                        <td style="text-align: center">{{ order.product.goodsID }}</td>

                        <td style="text-align: center">{{ order.product.brand }}</td>

                        <td style="text-align: center">{{ order.product }}</td>

                        <td style="text-align: center">{{ order.quantity }}</td>

                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block menus %}
    {% include "wiki/_menus.html" with active_menu=5%}
{% endblock %}

