{% extends "wiki/wiki.html" %}
{% load nikbad_tags %}
{% block content %}


    <div class="panel">

        <h2 class="panel-header">فهرست سفارش های انبار</h2>

        <table class="table-striped" style="width: 100%">
            <thead>
            <tr>
                <th style="width: 10%">ردیف</th>

                <th style="width: 15%"> تاریخ صدور </th>

                <th style="width: 15%">کد کالا</th>

                <th style="width: 20%">برند</th>

                <th style="width: 25%">نام</th>

                <th style="width: 15%">تعداد لارم</th>
            </tr>
            </thead>

            <tbody>
            {% for order in order_list%}
                {% with forloop.counter as num %}

                    <tr>

                        <td style="text-align: center">{{ num }}</td>

                        <td style="text-align: center">{{ order.date|jalali }}</td>

                        <td style="text-align: center">{{ order.product.goodsID }}</td>

                        <td style="text-align: center">{{ order.product.brand }}</td>

                        <td style="text-align: center">{{ order.product }}</td>

                        <td style="text-align: center">{{ order.quantity }}</td>

                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block menus %}
    {% include "wiki/_menus.html" with active_menu=5%}
{% endblock %}

