{% extends "wiki/base.html" %}

{% block crumbs %}
    <li><a href="{% url index %}">
        <i class="icon-home icon-large"></i>
        نیک باد
    </a> <span class="divider">/</span></li>

    <li><a href="{% url wiki-index %}">
        ویکی
    </a> <span class="divider">/</span></li>
    <li><a href="{% url wrh-product %}">
        فهرست کالاهای موجود در انبار
    </a> </li>
{% endblock %}

{% block content %}


    <div class="panel">

        <h2 class="panel-header">فهرست کالاهای موجود در انبار</h2>

        <table class="table-striped" style="width: 100%">
            <thead>
            <tr>
                <th style="width: 10%">ردیف</th>

                <th style="width: 25%">نام</th>

                <th style="width: 20%">تعداد مرجوعی</th>

                <th style="width: 10%">تعداد موجود</th>
            </tr>
            </thead>

            <tbody>
            {% for stock in stocks %}
                {% with forloop.counter as num %}

                    <tr>
                        <td style="text-align: center">{{ num }}</td>

                        <td style="text-align: center">{{ stock.product}}</td>

                        <td style="text-align: center">{{ stock.quantity_returned }}</td>

                        <td style="text-align: center">{{ stock.quantity }}</td>


                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination-centered">
        {% if stocks.has_previous %}
            <a href="?page={{ stocks.previous_page_number }}">قبل</a>
        {% endif %}

        صفحه{{ stocks.number }} از {{ stocks.paginator.num_pages }}.

        {% if stocks.has_next %}
            <a href="?page={{ stocks.next_page_number }}">بعد</a>
        {% endif %}
    </div>

{% endblock %}

{% block menus %}
    {% include "wiki/_menus.html" with active_menu=4%}
{% endblock %}

