<li class="header">
	<a> ورود وخروج کالا از انبار</a>
</li>
<li {% if active_menu == 1 %}class="active"{% endif %}>
	<a {% if active_menu != 1 %}href="WRHDelivery"{% endif %}>
ورود کالا به انبار
        <i class="icon-chevron-left">

        </i>
    </a>
</li>
<li {% if active_menu == 2 %}class="active"{% endif %}>
    <a {% if active_menu != 2 %}href="NewOrder"{% endif %}>
حواله های انبار
        <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="CustomerReturn"{% endif %}>
کالاهای معیوب
        <i class="icon-chevron-left"></i></a>
</li>
<li class="header">
    <a>
گزارشات انبارگردانی
    </a>
</li>

<li {% if active_menu == 4 %}class="active"{% endif %}>
    <a {% if active_menu != 4 %}href="ReportStock"{% endif %}>
موجودی انبار
        <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 5 %}class="active"{% endif %}>
    <a {% if active_menu != 5 %}href="ReportReturned"{% endif %}>
کالاهای معیوب
        <i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 6 %}class="active"{% endif %}>
    <a {% if active_menu != 6 %}href="ReportWikiOrder"{% endif %}>
        سفارشات انبار
        <i class="icon-chevron-left"></i></a>
</li>
{#<li class="header">#}
{#    <a>#}
{#        تحویل کالا به مشتری#}
{#    </a>#}
{#</li>#}
{#<li {% if active_menu == 5 %}class="active"{% endif %}>#}
{#    <a {% if active_menu != 5 %}href="#"{% endif %}>#}
{#        ثبت ارجاع کالا از مشتری#}
{#        <i class="icon-chevron-left"></i></a>#}
{#</li>#}
{#<li {% if active_menu == 6 %}class="active"{% endif %}>#}
{#    <a {% if active_menu != 6 %}href="#"{% endif %}>#}
{#ثبت تحویل کالا به مشتری#}
{#        <i class="icon-chevron-left"></i></a>#}
{#</li>#}
{#<li class="header">#}
{#    <a>#}
{#گزارشات انبارگردانی#}
{#    </a>#}
{#</li>#}
{#<li {% if active_menu == 7 %}class="active"{% endif %}>#}
{#    <a {% if active_menu != 7 %}href="#"{% endif %}>#}
{#موجودی انبار#}
{#        <i class="icon-chevron-left"></i></a>#}
{#</li>#}
{#<li {% if active_menu == 8 %}class="active"{% endif %}>#}
{#    <a {% if active_menu != 8 %}href="#"{% endif %}>#}
{#        کالاهای مرجوعی#}
{#        <i class="icon-chevron-left"></i></a>#}
{#</li>#}
{#<li {% if active_menu == 9 %}class="active"{% endif %}>#}
{#    <a {% if active_menu != 9 %}href="#"{% endif %}>#}
{#        تحویل های انبار#}
{#        <i class="icon-chevron-left"></i></a>#}
{#</li>#}
{#<li {% if active_menu == 10 %}class="active"{% endif %}>#}
{#    <a {% if active_menu != 10 %}href="#"{% endif %}>#}
{#ارجاعات انبار#}
{#        <i class="icon-chevron-left"></i></a>#}
{#</li>#}
{#<li {% if active_menu == 11 %}class="active"{% endif %}>#}
{#    <a {% if active_menu != 11 %}href="#"{% endif %}>#}
{#سفارشات انبار#}
{#        <i class="icon-chevron-left"></i></a>#}
{#</li>#}
{#<li class="header">#}
{#    <a>#}
{#هزینه انبارداری#}
{#    </a>#}
{#</li>#}
{#<li {% if active_menu == 11 %}class="active"{% endif %}>#}
{#    <a {% if active_menu != 11 %}href="#"{% endif %}>#}
{#        ثبت هزینه انبارداری کالاها#}
{#        <i class="icon-chevron-left"></i></a>#}
{#</li>#}

