a<li class="header">
	<a> فهرست محصولات </a>
</li>
<li {% if active_menu == 1 %}class="active"{% endif %}>
	<a {% if active_menu != 1 %}href="#"{% endif %}>کیف و کفش<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 2 %}class="active"{% endif %}>
    <a {% if active_menu != 2 %}href="#"{% endif %}>الکترونیکی<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>مبلمان<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 4 %}class="active"{% endif %}>
    <a {% if active_menu != 4 %}href="#"{% endif %}>لوازم آشپزخانه<i class="icon-chevron-left"></i></a>
</li>
<li class="header">
    <a> فهرست فروشندگان </a>
</li>
<li {% if active_menu == 5 %}class="active"{% endif %}>
    <a {% if active_menu != 5 %}href="#"{% endif %}>چرم مشهد<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 6 %}class="active"{% endif %}>
    <a {% if active_menu != 6 %}href="#"{% endif %}>فرش شفقی تبریز<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 7 %}class="active"{% endif %}>
    <a {% if active_menu != 7 %}href="#"{% endif %}>ایران رادیاتور<i class="icon-chevron-left"></i></a>
</li>