{% extends "base.html" %}
{% block css %}
    <link href="{{ STATIC_URL }}wrh/css/WRH-style.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}wrh/js/WRH-javascript.js" type="text/javascript"></script>
{% endblock %}

{% block header %}
    {% if perms.warehouse.is_deliveryman and perms.warehouse.is_warehouseman %}
        <img style=" width: 100%; height: 100%; border-top-left-radius: 10px; border-top-right-radius: 10px;" src="{{ STATIC_URL }}wrh/images/Sacma.jpg"/>
    {% elif perms.warehouse.is_deliveryman %}
        <img style=" width: 100%; height: 90%;border-top-left-radius: 10px; border-top-right-radius: 10px;" src="{{ STATIC_URL }}wrh/images/3.2_header_trucks3.jpg"/>
    {% else %}
        <img style=" width: 100%; height: 100%; border-top-left-radius: 10px; border-top-right-radius: 10px;" src="{{ STATIC_URL }}wrh/images/Sacma.jpg"/>
    {% endif %}
{% endblock %}
{% block user_panel %}
    <p style="font-family: entezar; font-size: 20px; font-weight: 700; margin-top: 7px; margin-right: -10px; color: rgb(0,89,132);">
        {% if perms.warehouse.is_deliveryman and perms.warehouse.is_warehouseman%}
            {{ user }} به بخش انبارداری و تحویل داری خوش آمدید.
        {% elif perms.warehouse.is_deliveryman %}
            {{ user }} به بخش تحویل داری خوش آمدید.
        {% else %}
            {{ user }} به بخش انبارداری خوش آمدید.
        {% endif %}
    </p>
{% endblock %}

{% block navbar %}
    <a class="btn btn-primary pull-left" style="margin-top: -32px; font-family: tahoma;" href="{% url logout %}">
        خروج
        </a>
    </p>
{% endblock %}
{% block menus %}
    {% include "wrh/_menus.html" %}
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="WRH-panel2">
        {% block WRH-panel2 %}
            <br/><br/><br/><br/><br/><br/>  {# :-"""""" #}
            <br/><br/><br/><br/><br/><br/>
        {% endblock %}
        </div>
    </div>
{% endblock %}

{% block crumbs %}
{#    {% if category %}#}
        {{ block.super }}
        <li class="active">
            انبار
        </li>
{#    {% endif %}#}
{% endblock %}