{% block WRH-panel2 %}
    {% if error %}
        <center>
            <p style="font-weight: 700; font-size: 14">
                {{ error }}
            </p>
            <br/>
            <img class="WRH-image2" src="{{ STATIC_URL }}wrh/images/sad.jpg"/>
            <br/>
            <br/>

            <div>
                <button class="btn btn-primary" type="button" onclick="load_first_page()">
                    ثبت کالاهای جدید
                </button>
            </div>
            <br/>
        </center>
    {% else %}
        <br/>
        <br/>
        <center>
            <p style="font-weight: 700; font-size: 14">
                کالاهای تحویلی مربوط به ویکی انتخاب شده با موفقیت در سیستم ثبت شدند. :)
                {#            {{ error }}#}
            </p>
            <br/>
            <img class="WRH-image2" src="{{ STATIC_URL }}wrh/images/WRH-4images.jpg"/>
            <br/>
            <br/>

            <div>
                <button class="btn btn-primary" type="button" onclick="load_first_page()">
                    ثبت کالاهای جدید
                </button>
            </div>
            <br/>

        </center>
    {% endif %}
{% endblock %}