{% block WRH-panel2 %}
    <br/>
    <br/>
    <center>
        <p style="font-weight: 700; font-size: 14">
            ترخیص مربوط به سفارش انتخاب شده با موفقیت درسیستم ثبت شد. :)
            {#            {{ error }}#}
        </p>
        <br/>
        <img class="WRH-image2" src="images/WRH-4images.jpg"/>
        <br/>
        <br/>

        <div>
            <button class="btn btn-primary" type="button" onclick="clearance()">
                ثبت ترخیص جدید
            </button>
        </div>
        <br/>

    </center>

{% endblock %}