{% block WRH-panel2 %}
    {% if error %}
        <center>
            <p style="font-weight: 700; font-size: 14">
                {{ error }}
            </p>
            <br/>
            <img class="WRH-image2" src="{{ STATIC_URL }}wrh/images/images (1).jpg"/>
            <br/>
            <br/>

            <div>
                <button class="btn btn-primary" type="button" onclick="load_first_page()">
                    ثبت کالاهای جدید
                </button>
            </div>
            <br/>
        </center>
    {% else %}
        <br/>
        <br/>
        <center>
            <p style="font-weight: 700; font-size: 14">
                کالاهای تحویلی مربوط به ویکی انتخاب شده با موفقیت در سیستم ثبت شدند.
                {#            {{ error }}#}

            </p>
            <br/>
            <img class="WRH-image2" src="{{ STATIC_URL }}wrh/images/images (2).jpg"/>
            <br/>
            <br/>

            <div>
                <button class="btn btn-primary" type="button" onclick="load_first_page()">
                    ثبت کالاهای جدید
                </button>
            </div>
            <br/>
            <br/>
            <p>
            <i class="icon-exclamation-sign"></i>
                نقطه سفارش اولیه برای کالاهایی که برای بار اول به انبار وارد می شوند، 20 در نظر گرفته شده است. در صورت تمایل می توانید از قسمت  تغییر نقطه سفارش این مقدار را عوض کنید.
            </p>
        </center>
    {% endif %}
{% endblock %}