{% extends "wrh/base.html" %}
{% block title %}
    کالاهای معیوب
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function () {

                    $(".WRH-panel2").load("*CustomerReturn-Panel");
                    return false;
                });
        function rreturn() {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function() {
                $(".WRH-panel2").load('*CustomerReturn-Panel');
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }

        function confirm_product_return2(pid, kid) {
            $(".WRH-panel2").fadeOut("slow");
            var str = "*CustomerReturn-next/";
            var st2 = str.concat(pid);
            var st3 = st2.concat("/")
            var st4 = st3.concat(kid);
            setTimeout(function() {
                $(".WRH-panel2").load(st4.toString());
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }

        function confirm_return(pid, kid) {
            var qnt = document.getElementById('qnt');
            var tp = document.getElementById('damaged');
            var b = tp.checked;
            var a = qnt.value;
            $(".WRH-panel2").fadeOut("slow");
            var str = "*ConfirmReturn/";
            var st2 = str.concat(pid);
            var st3 = st2.concat("/")
            var st4 = st3.concat(kid);
            var st5 = st4.concat("/");
            var st6 = st5.concat(a);
            var st7 = st6.concat("/");
            var st8 = st7.concat(b)
            setTimeout(function() {
                $(".WRH-panel2").load(st8);
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }

    </script>
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="WRH-heading2"> ثبت کالا به عنوان کالای معیوب </h2>
        <br/>

        <div class="WRH-panel2">
        </div>
    </div>

{% endblock %}