{% extends "wrh/base.html" %}
{% block title %}
    لیست حواله های انبار
{% endblock %}
{% block content %}
    <div class="panel">
        <h2 class="WRH-heading2"> لیست حواله های انبار</h2>
        <br/>

        <div class="WRH-panel2">
        {% block WRH-panel2 %}
            {% if clrs.all %}
            <form>
                <table class="WRH-table5 table-hover table-striped">
                    <thead>
                    <td class="WRH-th-td5">کد حواله</td>
{#                    <td class="WRH-th-td2">کد مشتری</td>#}
{#                    <td class="WRH-th-td2">نام مشتری</td>#}
{#                    <td class="WRH-th-td2"> نام خانوادگی مشتری</td>#}
                    <td class="WRH-th-td5"> تاریخ حواله </td>
                    <td class="WRH-th-td5" style="width: 30px"></td>
{#                    <td class="WRH-th-td2" style="width: 30px"></td>#}
                    </thead>
                    <tbody>
                    {% for clr in clrs %}
                        {% with forloop.counter as sec %}
                            {% with clr.pk|stringformat:"s" as pk %}
                                {% with "Tiny_Order/"|add:pk as tmp %}
                                    <tr>
                                        <td class="WRH-td5">
                                            {% if clr.type == 'sale' %}
                                                فروش_{{  clr.pk}}
                                            {% else %}
                                                {% if clr.type == 'warehouse' %}
انبار_{{  clr.pk}}
                                                {% else %}
ویکی_{{  clr.pk}}
                                                {% endif %}
                                            {% endif %}
                                        </td>
{#                                        <td class="WRH-td2"> {{ bill.customer.pk }} </td>#}
{#                                        <td class="WRH-td2"> {{ bill.customer.first_name }}</td>#}
{#                                        <td class="WRH-td2"> {{ bill.customer.last_name }}</td>#}
                                        <td class="WRH-td5">{{ clr.date }}</td>
                                        <form method="get">
                                            <td class="WRH-td5" style="width: 30px">
                                                <a class="btn btn-primary btn-mini" onclick="tiny_orders('{{ tmp }}')">
                                                 ریز حواله
                                                </a>
                                            </td>
{#                                            <td class="WRH-td3" style="width: 30px">#}
{#                                                <button class="btn btn-primary btn-mini" type="button">#}
{#                                                    ریز حواله#}
{#                                                </button>#}
{#                                            </td>#}
                                        </form>
                                    </tr>
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            <br/>
{#            <center>#}
{#                <button class="btn btn-primary btn-small" type="button">#}
{#                    چاپ کل سفارش ها#}
{#                </button>#}
{#            </center>#}
            {% else %}
                حواله جدیدی در سیستم به ثبت نرسیده است.
                <br/>
            {% endif %}
            {% endblock %}
        </div>
        <br/>
    </div>

{% endblock %}
