{% extends "wrh/base.html" %}
{% block title %}
    ثبت رسید تحویل کالا
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function () {

                    $(".WRH-panel2").load("{% url WRH_Cust_Wiki_Receipt_Delivery_Panel %}");
                    return false;
                });
        function load_page(tmp) {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function() {
                $(".WRH-panel2").load(tmp);
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
        function rreturn() {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function() {
                $(".WRH-panel2").load('{% url WRH_Cust_Wiki_Receipt_Delivery_Panel %}');
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }

    </script>
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="WRH-heading2"> ثبت رسید تحویل کالا</h2>
        <br/>

        <div class="WRH-panel2">

        </div>
        <br/>
    </div>

{% endblock %}
{% block crumbs %}
    {#    {% if category %}#}
    {{ block.super }}
    <li><a href="{% url warehouse-index %}">بخش حمل و نقل</a> <span class="divider">/</span></li>
    <li class="active">
        ثبت رسید تحویل کالا
    </li>
    {#    {% endif %}#}
{% endblock %}