{% load nikbad_tags %}
<br/>
<p>
    {{ first_msg }}
</p>
{% if dls %}
    <table class="WRH-table2 table-hover table-striped">
        <thead>
        <td class="WRH-th-td2">
            ردیف
        </td>
        <td class="WRH-th-td2">
            {% if active_menu == 99 %}
                کد  فاکتور سفارش
            {% elif active_menu == 1010 %}
                کد فاکتور درخواست
            {% else %}
                کد حواله
            {% endif %}
        </td>
        {% if active_menu == 99 %}
        {% elif active_menu == 1010 %}
        {% else %}
            <td class="WRH-th-td2">
            صادر کننده
            </td>
        {% endif %}
        <td class="WRH-th-td2">
            {% if active_menu == 99 %}
                کد مشتری
            {% elif active_menu == 1010 %}
                کد ویکی
            {% else %}
                کد تحویل گیرنده
            {% endif %}
        </td>
        <td class="WRH-th-td2">
            {% if active_menu == 99 %}
                نام و نام خانوادگی مشتری
            {% elif active_menu == 1010 %}
                نام ویکی
            {% else %}
                نام تحویل گیرنده
            {% endif %}
        </td>
        {% if active_menu == 1111%}
            <td class="WRH-th-td2"> وضعیت</td>
        {% endif %}
        <td class="WRH-th-td2">
            {% if active_menu == 88 %}
              تاریخ ترخیص
                {% elif active_menu == 99 %}
                تاریخ ثبت رسید
                {% elif active_menu == 1010 %}
                تاریخ ثبت رسید
                {% elif active_menu == 1111 %}
                تاریخ صدور حواله
            {% elif active_menu == 8 %}
                تاریخ ثبت رسید
                {% elif active_menu == 15%}
                تاریخ صدور حواله
                {% endif %}
        </td>
        <td class="WRH-th-td2"></td>
        </thead>
        <tbody>
        {% for dl, tmp in dls %}
            {% with forloop.counter as index %}
            <tr>
                <td class="WRH-td2"> {{ index }}</td>
                <td class="WRH-td2">
                    {% if active_menu == 1111 or active_menu == 15%}
{#                        {% if dl.type == 'sale' %}#}
                            {{ dl.pk }}
{#                        {% else %}#}
{#                            {% if dl.type == 'warehouse' %}#}
{#                                انبار_{{ dl.pk }}#}
{#                            {% else %}#}
{#                                ویکی_{{ dl.pk }}#}
{#                            {% endif %}#}
{#                        {% endif %}#}
                    {% elif active_menu == 88 %}
{#                        {% if dl.clearance.type == 'sale' %}#}
{{ dl.clearance.pk }}
{#                        {% else %}#}
{#                            {% if dl.clearance.type == 'warehouse' %}#}
{#                                انبار_{{ dl.clearance.pk }}#}
{#                            {% else %}#}
{#                                ویکی_{{ dl.clearance.pk }}#}
{#                            {% endif %}#}
{#                        {% endif %}#}
                    {% else %}
                        {% if dl.clearance.type == 'sale' %}
                            {{ dl.clearance.bill.pk }}
                        {% else %}
                            {% if dl.clearance.type == 'warehouse' %}
                                {{ dl.clearance.pk }}
                            {% else %}
                                {{ dl.clearance.wiki.pk }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                {% if active_menu == 99 %}
                {% elif active_menu == 1010 %}
                {% elif active_menu == 1111 or active_menu == 15%}
                    <td class="WRH-td2">
                                            {% if dl.type == 'sale' %}
                    بخش فروش
                                            {% elif dl.type == 'warehouse' %}
                                                    انبار
                                                {% else %}
                                                    امور ویکی ها
                                                {% endif %}
{#                                            {% endif %}#}
                    </td>
                {% else %}
                    <td class="WRH-td2">
                        {% if dl.clearance.type == 'sale' %}
                            بخش فروش
                                                    {% else %}
                                                        {% if dl.clearance.type == 'warehouse' %}
                                                            انبار
                                                        {% else %}
                                                            امور ویکی ها
                                                        {% endif %}
                                                    {% endif %}
                    </td>
                {% endif %}
                <td class="WRH-td2">
                    {% if active_menu == 1111 or active_menu == 15 %}
                        {% if dl.type == 'sale' %}
                            {{ dl.bill.customer.pk }}
                        {% else %}
                            {% if dl.type == 'warehouse' %}
                                {{ dl.transfer.bill.customer.pk }}
                            {% else %}
                                {{ dl.wiki.wiki.pk }}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if dl.clearance.type == 'sale' %}
                            {{ dl.clearance.bill.customer.pk }}
                        {% else %}
                            {% if dl.clearance.type == 'warehouse' %}
                                {{ dl.clearance.transfer.bill.customer.pk }}
                            {% else %}
                                {{ dl.clearance.wiki.wiki.pk }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="WRH-td2">
                    {% if active_menu == 1111 or active_menu == 15 %}
                        {% if dl.type == 'sale' %}
                            {{ dl.bill.customer.first_name }}
                            {{ dl.bill.customer.last_name }}
                        {% else %}
                            {% if dl.type == 'warehouse' %}
                                {{ dl.transfer.bill.customer.first_name }}
                                {{ dl.transfer.bill.customer.last_name }}
                            {% else %}
                                {{ dl.wiki.wiki.companyName }}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if dl.clearance.type == 'sale' %}
                            {{ dl.clearance.bill.customer.first_name }}
                            {{ dl.clearance.bill.customer.last_name }}
                        {% else %}
                            {% if dl.clearance.type == 'warehouse' %}
                                {{ dl.clearance.transfer.bill.customer.first_name }}
                                {{ dl.clearance.transfer.bill.customer.last_name }}
                            {% else %}
                                {{ dl.clearance.wiki.wiki.companyName }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
                {% if active_menu == 1111%}
                    <td class="WRH-td2">
                        {% if dl.ready == 'n' %}
                            صادر شده
                        {% else %}
                            {% if dl.ready == 'r' %}
                                آماده ترخیص
                            {% else %}
                                ترخیص شده
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
                <td class="WRH-td2"> {{ dl.date|jalali }}</td>
                <td class="WRH-td2" style="width: 30px">
                    <a class="btn btn-primary btn-mini"
                       onclick="load_page('{{ tmp }}')">
                        ریز حواله
                    </a>
                </td>
            </tr>
            {% endwith %}
        {% endfor %}

        </tbody>
    </table>
    <br/>
    <center>
    {% if active_menu != 8 and active_menu != 15%}
        <a target="_blank" class="btn btn-primary btn-small" href="{{ print }}">
            چاپ
        </a>
    {% endif %}
    </center>
    <br/>
    {# Template tags for pagination section, bootstrap compatible #}
    {% if paginator.num_pages > 1 %}
        <div class="pagination pagination-centered">
            <ul>
                {% if contacts.has_previous %}
                    <li><a onclick="load_page('{{ lnk|add:"?page=" }}{{ contacts.previous_page_number }}')"
                           href="#">&raquo;</a></li>
                {% endif %}

                {% for num in contacts.paginator.page_range %}
                    <li {% if num == contacts.number %}class="active"{% endif %}><a
                            onclick="load_page('{{ lnk|add:"?page=" }}{{ num }}')"
                            href="#"> {{ num }}</a></li>
                {% endfor %}


                {% if contacts.has_next %}
                    <li><a onclick="load_page('{{ lnk|add:"?page=" }}{{ contacts.next_page_number }}')"
                           href="#">&laquo;</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    </br>
{% endif %}