{% extends "wrh/base.html" %}
{% block title %}
    گزارش  سفارشات انبار
{% endblock %}
{% block content %}
    <div class="panel" xmlns="http://www.w3.org/1999/html">
        <h2 class="WRH-heading2"> گزارش سفارشات انبار</h2>

        <div class="WRH-panel2">
            <br />
            {% if wikis %}
                <p>
                    سفارشات انبار به شرح زیر می باشند:
                </p>
                <br />
                <table class="WRH-table2 table-hover table-striped">
                    <thead>
                    <td class="WRH-th-td2"></td>
                    <td class="WRH-th-td2">کد ویکی </td>
                    <td class="WRH-th-td2">نام ویکی </td>
                    <td class="WRH-th-td2" >کد کالا  </td>
                    <td class="WRH-th-td2"> نام کالا </td>
                    <td class="WRH-th-td2"> تعداد </td>
                    </thead>
                    <tbody>
                    {% for wk in wikis %}
                        <tr>
                            <td class="WRH-td2"> <img class="WRH-myimage2" src="{{ wk.wiki.image.url }}"/></td>
                            <td class="WRH-td2"> {{ wk.wiki.pk }} </td>
                            <td class="WRH-td2"> {{ wk.wiki.companyName }}</td>
                            <td class="WRH-td2"> {{ wk.product.goodsID }}</td>
                            <td class="WRH-td2"> {{ wk.product.name }}</td>
                            <td class="WRH-td2"> {{ wk.quantity }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <br />

            {% else %}
                هیچ سفارشی برای ویکی ها از طرف انبار به ثبت نرسیده است.
                </br>
                </br>
            {% endif %}
        </div>
    </div>
{% endblock %}