{% extends "wrh/base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function () {
                    $(".WRH-panel2").load('{{ panel }}');
                    return false;
                });
        function load_page(tmp) {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function () {
                $(".WRH-panel2").load(tmp);
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
        function rreturn() {
            $(".WRH-panel2").fadeOut("slow");
            tmp = '{{ type }}';
            setTimeout(function () {
                if (tmp == "0") {
                    $(".WRH-panel2").load('{% url WRH_New_Orders_Panel %}');
                } else {
                    $(".WRH-panel2").load('{% url WRH_Ready_Orders_Panel %}');
                }
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
        function greturn() {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function () {
                $(".WRH-panel2").load('{% url WRH_Gardaani_Panel %}');
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
    </script>
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="WRH-heading2">
            {{ title }}
        </h2>

        <div class="WRH-panel2">

        </div>
    </div>
{% endblock %}