{% extends "wrh/base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function () {
                    $(".WRH-panel2").load('{{ panel }}');
                    return false;
                });
        function load_page(tmp) {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function () {
                $(".WRH-panel2").load(tmp);
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
        function rreturn() {
            $(".WRH-panel2").fadeOut("slow");
            tmp = '{{ type }}';
            setTimeout(function () {
                if (tmp == "0") {
                    $(".WRH-panel2").load('{% url WRH_New_Orders_Panel %}');
                } else {
                    $(".WRH-panel2").load('{% url WRH_Ready_Orders_Panel %}');
                }
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
        function greturn() {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function () {
                $(".WRH-panel2").load('{% url WRH_Gardaani_Panel %}');
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
    </script>
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="WRH-heading2">
            {{ title }}
        </h2>

        <div class="WRH-panel2">

        </div>
    </div>
{% endblock %}
{% block crumbs %}
    {{ block.super }}
    <li><a href="{% url warehouse-index %}">
        {% if active_menu == 12 or active_menu == 14 or active_menu == 15 %}
            بخش حمل و نقل
        {% else %}
            انبار
        {% endif %}
    </a> <span class="divider">/</span></li>
    <li class="active">
    {% if active_menu == 2 %}
حواله های جدید
    {% elif active_menu == 16 %}
انبارگردانی
    {% elif active_menu == 4 %}
        موجودی انبار
    {% elif active_menu == 5 %}
       کالاهای معیوب
    {% elif active_menu == 6 %}
        سفارشات انبار
    {% elif active_menu == 7 %}
        تحویل های انبار
    {% elif active_menu == 8 %}
        ترخیص های انبار
    {% elif active_menu == 9 %}
        رسیدهای کالا به مشتریان
    {% elif active_menu == 10 %}
        رسیدهای کالا به ویکی ها
    {% elif active_menu == 11 %}
        حواله های انبار
    {% elif active_menu == 14 %}
        رسیدهای به ثبت رسیده
    {% elif active_menu == 15 %}
        رسیدهای ثبت نشده
    {% elif active_menu == 12 %}
        حواله های آماده ترخیص
    {% endif %}
    </li>
{% endblock %}