{% extends "wrh/base.html" %}
{% block title %}
    ثبت ورود کالا به انبار
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(
                function () {
                    $(".WRH-panel2").load('{% url WRH_Delivery_Panel %}');
                    return false;
                });
        function load_page(tmp) {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function () {
                $(".WRH-panel2").load(tmp);
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
        function rreturn() {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function () {
                $(".WRH-panel2").load('{% url WRH_Delivery_Panel %}');
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
        function load_select_page(tmp) {
            $(".WRH-panel2").fadeOut("slow");
            setTimeout(function () {
                $(".WRH-panel2").load(tmp);
            }, 500);
            $(".WRH-panel2").fadeIn("slow");
        }
    </script>
{% endblock %}
{% block content %}
    <div class="panel">
        <h2 class="WRH-heading2">
            ثبت ورود کالا به انبار
        </h2>

        <div class="WRH-panel2">

        </div>
    </div>

{% endblock %}
