{% block WRH-panel2 %}
    <br/>

    <p>
        از بین ویکی های زیر، ویکی مروبط به کالای دریافتی را انتخاب کنید:
    </p>
    <br/>

    <form>
        <table class="WRH-table">
            <tbody>
            <tr>
                {% for wiki in wikis %}
                    {% with wiki.pk as pk %}
{#                    {% with wiki.pk|stringformat:"s" as pk %}#}
{#                        {% with "WRHDelivery-next/"|add:pk as tmp %}#}
                            {% if forloop.counter|divisibleby:4 %}
                                <tr>
                            {% endif %}
                        <td class="WRH-td">
                            <div class="WRH-div2" >
                                <a class="thumbnail" onclick="load_select_page('{% url WRH_Delivery_Next pid=pk %}')">
                                    <img class="myimage" src="{{ wiki.image.url }}"/>
                                    <table>
                                        <tbody>
                                        <tr>
                                            {{ wiki.companyName }}
                                        </tr>
                                        <br/>
                                        <tr>
                                            {{ wiki.pk }}
                                        </tr>
                                        </tbody>
                                    </table>
                                </a>
                            </div>
                        </td>
                        {% if forloop.counter|divisibleby:3 %}
                            </tr>
                        {% endif %}
{#                        {% endwith %}#}
                    {% endwith %}
                {% endfor %}
            </tbody>
        </table>
        {# Template tags for pagination section, bootstrap compatible #}
        {% if paginator.num_pages > 1 %}
            <div class="pagination pagination-centered">
                <ul>
                    {% if contacts.has_previous %}
                        <li><a onclick="load_page('{{ lnk|add:"?page=" }}{{ contacts.previous_page_number }}')"
                               href="#">&raquo;</a></li>
                    {% endif %}

                    {% for num in contacts.paginator.page_range %}
                        <li {% if num == contacts.number %}class="active"{% endif %}><a
                                onclick="load_page('{{ lnk|add:"?page=" }}{{ num }}')"
                                href="#"> {{ num }}</a></li>
                    {% endfor %}


                    {% if contacts.has_next %}
                        <li><a onclick="load_page('{{ lnk|add:"?page=" }}{{ contacts.next_page_number }}')"
                               href="#">&laquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </form>
    <br/>
    <br/>

    <br/>
{% endblock %}