{% autoescape off %}
    <div style="direction: rtl">
        <p>
            درخواست تغییر گذرواژه برای وب سایت نیک باد ارسال شده است.
            در صورتی که این درخواست توسط شما ارسال شده، از طریق آدرس زیر به سایت نیک باد مراجعه کرده و گذرواژه خود را
            تغییر دهید.
        </p>

        <ul>
            <li>
                نام کاربری :
                {{ user }}
            </li>
            <li>
                <a href="{{ protocol }}://{{ site_name }}{% url reset_password uidb36=uid token=token %}">
                    صفحه تغییر گذرواژه
                </a>
            </li>
        </ul>
    </div>
{% endautoescape %}