{% extends "sales/base.html" %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header">
            تغییر حساب کاربری
        </h2>
        <br />
        <br />
        <div class="row-fluid">

            <form class="form-horizontal" method="post" >
                {% include "_hForm.html" with form=EditForm read_only=1 %}

            </form>
        </div>
        <p style="font-weight: 700; font-size: 14">

            تغییرات با موفقیت انجام شد.

        </p>



    </div>
{% endblock %}


{% block crumbs %}
    {{ block.super }}
    <li><a href="{% url crm-signUp %}">ثبت نام مشتری</a> <span class="divider">/</span></li>
    <li><a href="{% url crm-edit%}">ویرایش اطلاعات مشتری</a> <span class="divider">/</span></li>
{#    <li class="active">{{ item }}</li>#}

{% endblock %}
