{% extends "sales/base.html" %}

{% block content %}
    <div class="panel">

        <h2 class="heading2"> وضعیت کالای خریداری شده
        </h2>

        <table class="WRH-table2 table-hover table-striped">
            <thead>
            <td class="WRH-th-td"></td>
            <td class="WRH-th-td">نام کالا</td>
            <td class="WRH-th-td"> کد کالا</td>
            <td class="WRH-th-td"> قیمت</td>
            <td class="WRH-th-td"> تعداد</td>
            <td class="WRH-th-td"> وضعیت</td>
            </thead>

            <tbody>

            {% for pro in  Product %}
                <tr>
                    <td class="WRH-td2"><input type="image" class="WRH-myimage2" src="images/WRH-5download.jpg"/></td>
                    <td class="WRH-td2">
                        {{ pro.product.name }}
                    </td>
                    <td class="WRH-td2">
                        {{ pro.product.goodsID }}
                    </td>
                    <td class="WRH-td2">
                        {{ pro.product.price }}
                    </td>
                    <td class="WRH-td2"> {{ pro.number }}</td>
                    <td class="WRH-td2">
                        {% if Bill.deliveryStatus == 1 %}
                            در راه
                        {% elif Bill.deliveryStatus == 0 %}
                            صادر شده
                        {% else %}
                            تحویل شده
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>


    </div>
{% endblock %}
