{% extends "sales/base.html" %}
{% block css %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}crm/css/WRH-style.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <div class="panel">

        <h2 class="panel-header"> وضعیت کالای خریداری شده
        </h2>
               {% if Product %}

                  <div class="panel">
            <h2 class="panel-header"> انتخاب تاریخ </h2>

            <form class="form-horizontal" action="" method="post">
                {% include "_hForm.html" with form=form submit_text="نمایش" %}
            </form>

        </div>


        <div class="WRH-panel2">
            {% block WRH-panel2 %}
                <form>
                    <table class="WRH-table2 table-hover table-striped">
                        <thead>
                        <td class="WRH-th-td"></td>
                        <td class="WRH-th-td"> کد کالا</td>
                        <td class="WRH-th-td">نام کالا</td>
                        <td class="WRH-th-td"> قیمت</td>
                        <td class="WRH-th-td"> تعداد</td>
                        <td class="WRH-th-td"> وضعیت</td>
                        </thead>

                        <tbody>
                        {% for pro in  Product %}
                            <tr>

                                <td class="WRH-td2"><img class="WRH-myimage2" src="{{ pro.product.ad.icon.image.url }}"/></td>
                                <td class="WRH-td2">
                                    {{ pro.product.goodsID }}
                                </td>
                            <td class="WRH-td2">
                                    {{ pro.product.name }}
                                </td>

                                <td class="WRH-td2">
                                    {{ pro.product.price }}
                                </td>
                                <td class="WRH-td2"> {{ pro.number }} {{ pro.product.unit }}</td>
                                <td class="WRH-td2">
                                    {% if Bill.deliveryStatus == 1 %}
                                        در راه
                                    {% elif Bill.deliveryStatus == 0 %}
                                        صادر شده
                                    {% else %}
                                        تحویل شده
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </form>
            {% endblock %}
        </div>
    {% else %}
    هنوز کالایی خریداری نشده
    {% endif %}
    </div>
{% endblock %}


{% block crumbs %}
    {{ block.super }}
    <li><a href="{% url crm-status %}">وضعیت سفارشات</a> <span class="divider">/</span></li>
{#    <li class="active">{{ item }}</li>#}

{% endblock %}