<li class="header">
	<a> فهرست محصولات </a>
</li>
{% for cat in categories %}
    <li {% if active_menu == cat.id %}class="active"{% endif %}>
        <a {% if active_menu != cat.id %}href="{% url sales-category catID=cat.id %}"{% endif %}>{{ cat.name }}<i class="icon-chevron-left"></i></a>
    </li>
{% endfor %}
<li class="header">
    <a> فهرست فروشندگان </a>
</li>
<li {% if active_menu == 5 %}class="active"{% endif %}>
    <a {% if active_menu != 5 %}href="#"{% endif %}>چرم مشهد<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 6 %}class="active"{% endif %}>
    <a {% if active_menu != 6 %}href="#"{% endif %}>فرش شفقی تبریز<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 7 %}class="active"{% endif %}>
    <a {% if active_menu != 7 %}href="#"{% endif %}>ایران رادیاتور<i class="icon-chevron-left"></i></a>
</li>