<div class="span2 vitrin-item">
    <a class="btn btn-success option opt-shop pull-right"
       data-loading-text='<i class="icon-refresh"></i>'
       data-done-text='<i class="icon-ok"></i>' title="اضافه به سبد خرید"><i
            class="icon-plus"></i></a>

    <a class="btn btn-info option opt-info pull-left" title="اطلاعات بیشتر"><i class="icon-white icon-info"></i></a>

    <a href="{% url sales-vitrin itemCode=item.id %}" class="thumbnail" title="{{ item.product }}">
        <img src="{{ item.icon.image.url }}">
    </a>

    <p class="text-center muted">{{ item.product }}</p>
</div>