<div class="span2 vitrin-item vitrin-box">
    {% if perms.crm.is_customer and item.addMarketButton %}
        <a class="btn btn-success option opt-shop pull-right" href="{% url sales-addBasket pId=item.product.pk %}"
           data-loading-text='<i class="icon-refresh"></i>'
           data-done-text='<i class="icon-ok"></i>' title="اضافه به سبد خرید"><i
                class="icon-plus"></i></a>
    {% endif %}
    {% if item.product.isInSale %}
        <span class="offer"><img src="{{ STATIC_URL }}sales/images/offer.png"></span>
    {% endif %}

    <a href="{% url sales-vitrin itemCode=item.product.pk %}" class="thumbnail" title="{{ item.product }}">
        <img src="{{ item.icon.image.url|default:item.defaultIcon }}">
    </a>

    <p class="text-center">{{ item.product }}</p>
</div>