{% extends "sales/base.html" %}
{% load nikbad_tags %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header">
            ثبت مشخصات محصول
        </h2>
        <br/>

        <form method="post" action="" enctype="multipart/form-data">
            <p class="text-right">
                <b>
                    نام محصول :
                </b>
                {{ ad.product }}
            </p>

            <br/>

            {% csrf_token %}
            <input type="hidden" value="{{ ad.product.pk }}">
            <label for="description"><b>
                توضیحات کلی
            </b></label>
            {{ adForm.description }}

            <br/>

            <label><b>
                تصاویر
            </b></label>
            {{ imageFormSet.management_form }}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        ردیف
                    </th>
                    <th>
                        عنوان
                    </th>
                    <th>
                        تصویر
                    </th>
                    <th>
                        حذف
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for form in imageFormSet %}
                    <tr class="inputRow{% if forloop.last %} empty{% endif %}">
                        <td>
                            <span class="number">
                                {{ forloop.counter }}
                            </span>

                            <div style="display: none">
                                {{ form.id }}
                            </div>
                        </td>
                        <td>{{ form.title }}</td>
                        <td>
                            {% if form.image.value %}
                                <img class="vitrin-thumb" src="{{ form.image.value.url }}"
                            {% else %}
                                {{ form.image }}
                            {% endif %}
                        </td>
                        <td>{{ form.DELETE }}</td>
                    </tr>
                {% endfor %}
                <tr class="addRow" form-name="id_{{ imageFormSet.prefix }}">
                    <td colspan="4">
                            <span class="text-right text-success newRowBtn">
                                <i class="icon-plus icon-large"></i>
                                سطر جدید
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <br/>

            <label><b>
                ویژگی ها
            </b></label>
            {{ specsFormSet.management_form }}
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        ردیف
                    </th>
                    <th>
                        عنوان
                    </th>
                    <th>
                        متن
                    </th>
                    <th>
                        حذف
                    </th>
                </tr>
                {% for form in specsFormSet %}
                    <tr class="inputRow{% if forloop.last %} empty{% endif %}">
                        <td class="number">
                            {{ forloop.counter }}
                            <div style="display: none">
                                {{ form.id }}
                            </div>
                        </td>
                        <td>{{ form.title }}</td>
                        <td>{{ form.value }}</td>
                        <td>{{ form.DELETE }}</td>
                    </tr>
                {% endfor %}
                <tr class="addRow" form-name="id_{{ specsFormSet.prefix }}">
                    <td colspan="4">
                            <span class="text-right text-success newRowBtn">
                                <i class="icon-plus icon-large"></i>
                                سطر جدید
                            </span>
                    </td>
                </tr>
            </table>
            <button class="btn btn-primary">
                ثبت
            </button>
            <a class="btn btn-info" href="{% url sales-vitrin itemCode=ad.product.pk %}" target="_blank">
                مشاهده ویترین
            </a>
        </form>
    </div>
{% endblock %}

{% block menus %}
    {% include "wiki/_menus.html" %}
{% endblock %}