{% extends "sales/base.html" %}
{% load nikbad_tags %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header">
            ثبت مشخصات محصول
        </h2>
        <br/>

        <form method="post" action="">
            <p class="text-right">
                <b>
                    نام محصول :
                </b>
                {{ ad.product }}
            </p>

            <br/>

            {% csrf_token %}
            <input type="hidden" value="{{ ad.product.pk }}">
            <label for="description"><b>
                توضیحات کلی
            </b></label>
            {{ adForm.description }}

            <br/>

            <label><b>
                تصاویر
            </b></label>
            {{ imageFormSet.management_form }}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>
                        ردیف
                    </th>
                    <th>
                        عنوان
                    </th>
                    <th>
                        تصویر
                    </th>
                    <th>
                        حذف شود
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for form in imageFormSet %}
                    <tr class="inputRow"> {# {% if forloop.last %} empty{% endif %}"> #}
                        <td>
                            {{ forloop.counter }}
                            <div style="display: none">
                                {{ form.id }}
                            </div>
                        </td>
                        <td>{{ form.title }}</td>
                        <td>
                            {{ form.image }}
                            {{ form.image.errors }}
                        </td>
                        <td>{{ form.DELETE }}</td>
                    </tr>
                {% endfor %}
                <tr class="addRow">
                    <td colspan="4">
                            <span class="text-right text-success newRowBtn">
                                <i class="icon-plus icon-large"></i>
                                سطر جدید
                            </span>
                    </td>
                </tr>
                </tbody>
            </table>

            <br/>

            <label><b>
                ویژگی ها
            </b></label>
            {{ specsFormSet.management_form }}
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        ردیف
                    </th>
                    <th>
                        عنوان
                    </th>
                    <th>
                        متن
                    </th>
                    <th>
                        حذف شود
                    </th>
                </tr>
                {% for form in specsFormSet %}
                    <tr>
                        <td class="number">
                            {{ forloop.counter }}
                            <div style="display: none">
                                {{ form.id }}
                            </div>
                        </td>
                        <td>{{ form.title }}</td>
                        <td>{{ form.value }}</td>
                        <td>{{ form.DELETE }}</td>
                    </tr>
                {% endfor %}
            </table>
            <button class="btn btn-primary">
                ثبت
            </button>
            <a class="btn btn-info" href="{% url sales-vitrin itemCode=ad.product.pk %}">
                مشاهده ویترین
            </a>
        </form>
    </div>
{% endblock %}