{% extends "base.html" %}

{% block title %}
زیرسامانه فروش
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}sales/css/sales.css" rel="stylesheet" type="text/css"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}sales/js/sales.js" type="text/javascript"></script>
{% endblock %}

{% block user_panel %}
    {% if user.is_authenticated %}
        <div class="btn-group pull-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url sales-basket %}">
                        <i class="icon-large icon-shopping-cart"></i>
                        <span id="basket-items">{{ user.marketBasket }}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url crm-status %}">
                        <i class="icon-large icon-check"></i>
                        <span id="basket-items">وضعیت سفارشات</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{% url logout %}">
                        <i class="icon-off"></i>
                        خروج
                    </a>
                </li>
            </ul>
            <a class="btn btn-primary" href="{% url crm-profile %}">
                <i class="icon-large icon-white icon-user"></i>
                <span>{{ user }}</span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block navbar %}
    <form class="form-search navbar-search pull-left">
        <div class="input-append">
            <button class="btn"><i class="icon-large icon-search"></i></button>
            <input type="text" class="search-query input-medium" placeholder="جستجو ...">
        </div>
        <select class="span2">
            <option value="all">همه موارد</option>
            {% for cat in categories %}
                <option value="{{ cat.id }}"{% if category == cat.id %}selected="selected"{% endif %}>{{ cat.name }}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}

{% block menus %}
    {% if not user.is_authenticated %}
        <li class="header hover" id="login-menu-button">
            <a>
                <i class="icon-user"></i>
                ورود اعضا
            </a>
        </li>
        <li class="muted" id="login-menu">
            <form class="navbar-form" method="post" action="{% url login %}" id="loginID">
                {% csrf_token %}
                <input type="text" name="username" class="span2" placeholder="نام کاربری">
                <input type="password" name="password" class="span2" placeholder="رمز عبور">
                <input type="submit" class="btn btn-success" id="enter" value="ورود">
                <p class="text-right">
                    <a href="#">
                        <i class="icon-question"></i>
                        فراموشی رمز عبور
                    </a>
                </p>
            </form>
            <a href="#">
                <i class="icon-plus"></i>
                ثبت نام مشتریان
            </a>
            <a href="#">
                <i class="icon-plus"></i>
                ثبت نام فروشندگان
            </a>
        </li>
    {% endif %}

    {% include "sales/_menus.html" with active_menu=category%}
{% endblock %}