{% extends "base.html" %}

{% block title %}
زیرسامانه فروش
{% endblock %}

{% block css %}
    <link href="{{ STATIC_URL }}sales/css/sales.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}sales/js/sales.js" type="text/javascript"></script>
{% endblock %}

{% block user_panel %}
    {% if user.is_authenticated %}
        <div class="btn-group pull-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url sales-basket %}">
                        <i class="icon-large icon-shopping-cart"></i>
                        <span id="basket-items">{{ user.marketBasket }}</span>
                    </a>
                </li>
                <li>
                    <a href="{% url crm-status %}">
                        <i class="icon-large icon-check"></i>
                        <span id="basket-items">وضعیت سفارشات</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="index.html">
                        <i class="icon-off"></i>
                        خروج
                    </a>
                </li>
            </ul>
            <a class="btn btn-primary" href="{% url crm-profile %}"><i class="icon-large icon-white icon-user"></i>{{ user }}</a>
        </div>
    {% else %}
        <form class="navbar-form pull-right" method="post" action="{% url login %}">
            <input type="text" name="username" class="span2" placeholder="نام کاربری">
            <input type="password" name="password" class="span2" placeholder="رمز عبور">
            <button class="btn btn-success" id="enter">ورود</button>
        </form>
    {% endif %}
{% endblock %}

{% block navbar %}
    <form class="navbar-search pull-left">
        <i class="icon-search"></i>
        <input type="text" class="search-query input-medium" placeholder="جستجو ...">
        <select class="span2">
            <option value="all">همه گروه ها</option>
            <option value="mobile"> موبایل</option>
            <option value="TV"> تلوزیون</option>
            <option value="shoes"> کیف و کفش</option>
            <option value="furniture"> مبلمان</option>
        </select>
        <button class="btn"><i class="icon-large icon-search"></i></button>
    </form>
{% endblock %}

{% block menus %}
    {% include "sales/_menus.html" with active_menu=4%}
{% endblock %}