{% extends "sales/base.html" %}
{% load nikbad_tags %}

{% block title %}
    بازار اینترنی نیک باد
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header">سبد خرید</h2>
        {% if items %}
            <table class="table table-striped">
                <thead>
                <th></th>
                <th>نام کالا</th>
                <th>قیمت واحد</th>
                <th>تعداد</th>
                <th>قیمت کل</th>
                </thead>
                <tbody>
                {% for item in items %}
                    {% with forloop.counter as cnt %}
                        <tr>
                            <td>{{ cnt }}</td>
                            <td>{{ item.product }}</td>
                            <td>{{ item.product.price|toman }}</td>
                            <td>{{ item.number }}</td>
                            <td><b>{{ item.totalPrice|toman }}</b></td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        مجموع :
                    </td>
                    <td>
                        <b>
                            {{ basket.totalPrice|toman }}
                        </b>
                    </td>
                </tr>
                </tbody>
            </table>
            <form action="" method="post" class="input-block-level">
                {% csrf_token %}
                <button class="btn btn-primary pull-left">تایید</button>
            </form>
            </p>
        {% else %}
            <p class="text-right">
                سبد خرید شما فعلا خالی است.
            </p>
        {% endif %}
    </div>
{% endblock %}