<!DOCTYPE html>
<html>
<head>
	<!-- some necessary metadata -->
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<title>نمونه اولیه وب‌سایت نیک‌باد</title>
	
	<!-- import css files -->
	<link type="text/css" href="css/bootstrap.css" rel="stylesheet" media="all" />
	<link type="text/css" href="css/font-awesome.min.css" rel="stylesheet" media="all" />
	<link type="text/css" href="css/main.css" rel="stylesheet" media="all" />
	
	<!-- import javascript files -->
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div id="page">
		<div id="header">
		<div class="navbar navbar-fixed-bottom pull-right">
			<div class="navbar-inner">
				<form class="navbar-form pull-right" action="logged-in.html">
					<input type="text" name="username" class="span2" placeholder="نام کاربری">
					<input type="password" name="password" class="span2" placeholder="رمز عبور">
					<button class="btn btn-success">ورود</button>
				</form>
				
				<form class="navbar-search pull-left">
					<i class="icon-search"></i>
					<input type="text" class="search-query" placeholder="جستجو ...">
					<select class="span2">
						<option value="all">همه گروه ها</option>
						<option value="mobile"> موبایل </option>
						<option value="TV"> تلوزیون </option>
						<option value="shoes"> کیف و کفش </option>
						<option value="furniture"> مبلمان </option>						
					</select>
					<button class="btn"><i class="icon-large icon-search"></i></button>
				</form>
			</div>
		</div>
		</div>
		
		<div id="menu">
			<ul class="nav nav-list nav-menu">
				<li class="header">
					 <a> فهرست موارد </a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
				<li class="active">
					<a href="#"> مورد فعلی </a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
			</ul>
		</div>
		
		<div id="content">
			<div class="panel">
				<h2> مشخصات محصول </h2>
				<div class="row-fluid">
					<div class="span4">
						<img class="img-polaroid" style="width: 200px; height: 200px" />
					</div>
					<div class="span8">
						<div class="row-fluid">
							<div class="span12">
								<p class="lead">محصـــــــــــــــــول</p>
							</div>
						</div>
						<div class="row-fluid">
							<ul class="inline">
								<li>
									<img class="img-rounded" style="width: 45px; height: 45px;" />
								</li>
								<li>
									<img class="img-rounded" style="width: 45px; height: 45px;" />
								</li>
								<li>
									<img class="img-rounded" style="width: 45px; height: 45px;" />
								</li>
								<li>
									<img class="img-rounded" style="width: 45px; height: 45px;" />
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="well">
					
				</div>
				
				<div class="tabbable">
				  <ul class="nav nav-tabs">
				    <li class="active"><a href="#details" data-toggle="tab">مشخصات کلی</a></li>
				    <li><a href="#technical" data-toggle="tab">مشخصات فنی</a></li>
				    <li><a href="#technical" data-toggle="tab">مشخصات فنی</a></li>
				    <li><a href="#technical" data-toggle="tab">مشخصات فنی</a></li>
				    <li><a href="#technical" data-toggle="tab">مشخصات فنی</a></li>
				  </ul>
				  <div class="tab-content">
				    <div class="tab-pane active" id="details">
				      <div class="well">
				      	
				      </div>
				    </div>
				    <div class="tab-pane" id="technical">
				      <div class="well">
				      	
				      </div>
				    </div>
				  </div>
				</div>
			</div>		
		</div>
	</div>
</body>