{% extends "sales/base.html" %}

{% block title %}
    بازار اینترنی نیک باد
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header">محصولات پرفروش</h2>

        <div class="row-fluid">
            {% for item in populars %}
                {% include "sales/_vitrin_item.html" with item=item %}
            {% endfor %}
        </div>
    </div>

    <div class="panel">
        <h2 class="panel-header"> تازه ترین محصولات </h2>

        <div class="row-fluid">
            {% for item in new_products %}
                {% include "sales/_vitrin_item.html" with item=item %}
            {% endfor %}
        </div>
    </div>

    {% if message %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>تبریک!</strong>
            {{ message }}
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>هشدار!</strong>
            {{ error }}
        </div>
    {% endif %}
{% endblock %}

{% block crumbs %}
    {% if category %}
        {{ block.super }}
        <li class="active">
            {{ category_name }}
        </li>
    {% endif %}
{% endblock %}