{% extends "sales/base.html" %}

{% block title %}
بازار اینترنی نیک باد
{% endblock %}

{% block content %}
    <div class="panel">
        <h2 class="panel-header">محصولات پرفروش</h2>

        <div class="row-fluid">
            {% for item in populars %}
                {% include "sales/_vitrin_item.html" with item=item %}
            {% endfor %}
        </div>
    </div>

    <div class="panel">
        <h2 class="panel-header"> تازه ترین محصولات </h2>

        <div class="row-fluid">
            {% for item in new_products %}
                {% include "sales/_vitrin_item.html" with item=item %}
            {% endfor %}
        </div>
    </div>
{% endblock %}