<!DOCTYPE html>
<html>
<head>
	<!-- some necessary metadata -->
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<title>نمونه اولیه وب‌سایت نیک‌باد</title>
	
	<!-- import css files -->
	<link type="text/css" href="css/bootstrap.css" rel="stylesheet" media="all" />
	<link type="text/css" href="css/font-awesome.min.css" rel="stylesheet" media="all" />
	<link type="text/css" href="css/main.css" rel="stylesheet" media="all" />
	
	<!-- import javascript files -->
	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div id="page">
		<div id="header">
		<div class="navbar navbar-fixed-bottom pull-right">
			<div class="navbar-inner">
				<div class="btn-group pull-right">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#" class="text-success">
								<i class="icon-large icon-shopping-cart"></i>
								سبد خرید
								(
								<span id="basket-items">2</span>
								مورد)
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a>
								<i class="icon-gears"></i>
								تنظیمات کاربری
							</a>
						</li>
						<li>
							<a href="index.html">
								<i class="icon-off"></i>
								خروج
							</a>							
						</li>
					</ul>
					<a class="btn btn-primary"><i class="icon-large icon-white icon-user"></i> سید حامد مقیمی</a>
				</div>
				<form class="navbar-search pull-left">
					<i class="icon-search"></i>
					<input type="text" class="search-query" placeholder="جستجو ...">
					<select class="span2">
						<option value="all">همه گروه ها</option>
						<option value="mobile"> موبایل </option>
						<option value="TV"> تلوزیون </option>
						<option value="shoes"> کیف و کفش </option>
						<option value="furniture"> مبلمان </option>						
					</select>
					<button class="btn"><i class="icon-large icon-search"></i></button>
				</form>
			</div>
		</div>
		</div>
		
		<div id="menu">
			<ul class="nav nav-list nav-menu">
				<li class="header">
					 <a> فهرست موارد </a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
				<li class="active">
					<a href="#"> مورد فعلی </a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
				<li class="header">
					 <a> فهرست ديگر موارد </a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
				<li>
					<a href="#"> مورد <i class="icon-chevron-left"></i></a>
				</li>
			</ul>
		</div>
		
		<div id="content">
			<div class="panel">
				<h2> تازه‌ترين محصولات </h2>
				<div class="row-fluid">
					<div class="span2 vitrin-item">
						<a class="btn btn-success option opt-shop" title="اضافه کردن به سبد خريد"><i class="icon-white icon-plus"></i></a>
						<a class="btn btn-info option opt-info"><i class="icon-white icon-info"></i></a>
						<a href="#" class="thumbnail">
							<img src="images/products/default.png">
						</a>
						<p class="text-center muted">جاروبرقي تمام اتوماتيک LG</p>
					</div>
					<div class="span2 vitrin-item">
						<a class="btn btn-success option opt-shop" title="اضافه کردن به سبد خريد"><i class="icon-white icon-plus"></i></a>
						<a class="btn btn-info option opt-info"><i class="icon-white icon-info"></i></a>
						<a href="#" class="thumbnail">
							<img src="images/products/default.png">
						</a>
						<p class="text-center muted">محصول</p>
					</div>
					<div class="span2 vitrin-item">
						<a class="btn btn-success option opt-shop" title="اضافه کردن به سبد خريد"><i class="icon-white icon-plus"></i></a>
						<a class="btn btn-info option opt-info"><i class="icon-white icon-info"></i></a>
						<a href="#" class="thumbnail">
							<img src="images/products/default.png">
						</a>
						<p class="text-center muted">محصول</p>
					</div>
					<div class="span2 vitrin-item">
						<a class="btn btn-success option opt-shop" title="اضافه کردن به سبد خريد"><i class="icon-white icon-plus"></i></a>
						<a class="btn btn-info option opt-info"><i class="icon-white icon-info"></i></a>
						<a href="#" class="thumbnail">
							<img src="images/products/default.png">
						</a>
						<p class="text-center muted">محصول</p>
					</div>
					<div class="span2 vitrin-item">
						<a class="btn btn-success option opt-shop" title="اضافه کردن به سبد خريد"><i class="icon-white icon-plus"></i></a>
						<a class="btn btn-info option opt-info"><i class="icon-white icon-info"></i></a>
						<a href="#" class="thumbnail">
							<img src="images/products/default.png">
						</a>
						<p class="text-center muted">محصول</p>
					</div>
					<div class="span2 vitrin-item">
						<a class="btn btn-success option opt-shop" title="اضافه کردن به سبد خريد"><i class="icon-white icon-plus"></i></a>
						<a class="btn btn-info option opt-info"><i class="icon-white icon-info"></i></a>
						<a href="#" class="thumbnail">
							<img src="images/products/default.png">
						</a>
						<p class="text-center muted">محصول</p>
					</div>
				</div>
			</div>		
			<div class="panel">
				<form class="form-horizontal">
				  <div class="control-group">
				    <label class="control-label" for="inputEmail">Email</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Email">
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputPassword">Password</label>
				    <div class="controls">
				      <input type="password" id="inputPassword" placeholder="Password">
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				      <label class="checkbox">
				        <input type="checkbox"> Remember me
				      </label>
				      <button type="submit" class="btn">Sign in</button>
				    </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
<div class="info-box well">
	<p>
		مشخصات فنی کالا <br/>
		برای اطلاعات بیشتر فعلا کاری نکنید!!!
	</p>
</div>
</body>