{% csrf_token %}
{% for field in form.visible_fields %}
    <div class="control-group {% if field.errors %}error{% endif %}">
        {% if field.label %}
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
        {% endif %}
        <div class="controls">
            {{ field }}
            <ul class="errorlist">
                <li>{{ field.errors.0 }}</li>
                <li>{{ field.errors.0 }}</li>
                <li>{{ field.errors.0 }}</li>
                <li>{{ field.errors.0 }}</li>

            </ul>
        </div>
    </div>
{% endfor %}
{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}