<li class="header">
	<a> فهرست موارد </a>
</li>
<li {% if active_menu == 1 %}class="active"{% endif %}>
	<a {% if active_menu != 1 %}href="#"{% endif %}>مورد<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 2 %}class="active"{% endif %}>
    <a {% if active_menu != 2 %}href="#"{% endif %}>مورد<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 3 %}class="active"{% endif %}>
    <a {% if active_menu != 3 %}href="#"{% endif %}>مورد<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 4 %}class="active"{% endif %}>
    <a {% if active_menu != 4 %}href="#"{% endif %}>مورد<i class="icon-chevron-left"></i></a>
</li>
<li class="header">
    <a> فهرست ديگر موارد </a>
</li>
<li {% if active_menu == 5 %}class="active"{% endif %}>
    <a {% if active_menu != 5 %}href="#"{% endif %}>مورد<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 6 %}class="active"{% endif %}>
    <a {% if active_menu != 6 %}href="#"{% endif %}>مورد<i class="icon-chevron-left"></i></a>
</li>
<li {% if active_menu == 7 %}class="active"{% endif %}>
    <a {% if active_menu != 7 %}href="#"{% endif %}>مورد<i class="icon-chevron-left"></i></a>
</li>