<!doctype html>
<html lang="en">
{% comment %}
    root html template file for all other templates.
    extends base template of your subsystem from this and then extend rest of your template files from that.
{% endcomment %}
{% load nikbad_tags %}
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <title>
        {% block title %}
            {# if you want to change title in your subsystem, override this block #}
            بازار اینترنتی نیک باد
        {% endblock %}
    </title>

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css"/>
    {% block css %}
        {# link your own css files same as the upper links. don't forget {{ STATIC_URL }} for link to static files #}
    {% endblock %}

    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/base.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.js" type="text/javascript"></script>
    {% block js %}
        {# link your own js files same as the upper links. don't forget {{ STATIC_URL }} for link to static files #}
    {% endblock %}
</head>

<body>
<div id="page">
    <div id="header">
        {% block header %}
            {# header section. don't change this section until graphics for headers become ready! :D #}
            <img style="height: 210px; border-top-left-radius: 10px; border-top-right-radius: 10px;"
                 src="{{ STATIC_URL }}wrh/images/eshop_header2.3bf56bfc8c8c.png"/>
        {% endblock %}
        <div class="navbar navbar-fixed-bottom pull-right">
            <div class="navbar-inner">
                {% block user_panel %}
                    {# write your codes to show user status and options #}
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a class="btn btn-warning" href="{% url logout %}">
                                خروج از حالت ابرکاربر
                            </a>
                        {% else %}
                            <div class="btn-group pull-right">
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url logout %}">
                                            <i class="icon-off"></i>
                                            خروج
                                        </a>
                                    </li>
                                </ul>
                                <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <i class="icon-large icon-user"></i>
                                    {{ user.first_name|default:user }}
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock %}
                {% block navbar %}
                    {# write some codes here if you want to use navigation bar #}
                {% endblock %}
            </div>
        </div>
    </div>

    <div id="content">
        <ul class="breadcrumb">
            {% block crumbs %}
                <li><a href="{% url index %}">
                    <i class="icon-home icon-large"></i>
                    نیک باد
                </a> <span class="divider">/</span></li>
            {% endblock %}
        </ul>

        {% block content %}
        {% endblock %}
    </div>

    <div id="menu">
        <ul id="menu-navbar" class="nav nav-list nav-menu affix" data-spy="affix">
            {% block menus %}
                {% comment %}
                        use this code to load your menus
                        {% include "subsystem/_catMenus.html" with active_menu=??? %}
                        write a file like _catMenus.html and set ??? to the number of the active menu item
                        or omit "with ..." if no item should be active
                    {% endcomment %}
            {% endblock %}
        </ul>
    </div>

    <div id="footer">
        <p class="text-center muted">
            کلیه حقوق این اثر مربوط به شرکت بازار از دور
            <strong>
                سراب
            </strong>
            می باشد. هرگونه تکثیر پیگرد قانونی دارد.
            <br/>
            تهیه و طراحی توسط شرکت فنی مهندسی
            <strong>
                نگاه نو
            </strong>
        </p>
    </div>
</div>
</body>
</html>