/* font */
@font-face {
    font-family: "yekan";
    src: url('../fonts/byekan.eot');
    src: url('../fonts/byekan.eot') format('embedded-opentype'), url('../fonts/byekan.woff') format('woff'), url('../fonts/byekan.ttf') format('truetype'), url('../fonts/byekan.svg#BYekanRegular') format('svg');
}

body {
    direction: rtl;
    /*background-color: #EFEFEF;*/
    /*background-color: rgb(221 , 199, 147);*/
    background-color: rgb(223 , 210, 223);
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    font-size: 14px;
    position: relative;
}

#page {
    overflow: hidden;
    width: 1024px;
    min-height: 200px;
    margin: 0 auto;
}

#header {
    height: 250px;
    background-color: #005580;
    position: relative;

    -webkit-border-radius: 15px 15px 0 0;
    -moz-border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
}

#page-body td {
    padding: 0;
}

#menu {
    width: 224px;
    min-height: 400px;
    float: right;
}

#content {
    width: 780px;
    min-height: 1000px;
    background-color: #FFFFFF;
    padding: 0 10px;
    float: left;

    -webkit-border-radius: 0 0 15px 15px;
    -moz-border-radius: 0 0 15px 15px;
    border-radius: 0 0 15px 15px;
}

#footer {
    clear: both;
    padding-top: 20px;
}

.panel {
    margin: 10px 10px;
    border: solid 3px #EFEFEF;
    /*background-color: rgb(224,175, 203);*/
    padding: 10px;
}

.panel .panel-header {
    margin: 0 0 10px 0;
    font-family: "yekan";
}

/* ------- navigation bar ------- */
.navbar-fixed-bottom .navbar-inner {

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-search > select,
.navbar-search > .btn {
    margin: 0;
}

.navbar-search i {
    opacity: 0.5;
}

.navbar-search > i {
    position: absolute;
    right: 7px;
    top: 7px;
}

.navbar-search > .search-query {
    padding-right: 22px;
}

/* ------- menus ---------- */
.nav-menu {
    width: 224px;
    padding: 0;
    background-color: #F8F8F8;
    -webkit-border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
    border-radius: 0 0 15px 0;
}

.nav-menu > li.muted {
    margin: 0 0 -1px;
    border: 1px solid #E5E5E5;
}

.nav-menu > li > a {
    display: block;
    width: 190px    \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}

.nav-menu > .header > a,
.nav-menu > .header > a:hover {
    text-align: center;
    background-color: #999999;
    color: #FFFFFF;
}

.nav-menu > .header.hover {
    cursor: pointer;
}

.nav-menu > .header.hover > a:hover {
    background-color: #555555;
}

.nav-menu > li:last-child > a {
    -webkit-border-radius: 0 0 15px 0;
    -moz-border-radius: 0 0 15px 0;
    border-radius: 0 0 15px 0;
}

.nav-menu > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border-color: #E5E5E5 #E5E5E5 #E5E5E5 transparent;
}

.nav-menu > .active i {
    display: none;
}

/* Chevrons */
.nav-menu .icon-chevron-left {
    float: left;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}

.nav-menu > li > a:hover {
    background-color: #e5e5e5;
}

.nav-menu a:hover .icon-chevron-left {
    opacity: .5;
}

/* ---- menus affix ---- */

#menu-navbar.affix {
    top: 0px;
}

#menu-navbar.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 100px;
}

/* ---- login menu ---- */
#login-menu {
    display: none;
}

.nav-menu > li > form {
    margin: 8px 14px;
}

/* ---------- horizontal forms ---------- */
.form-horizontal .errorlist {
    color: #b94a48;
    display: inline-block;
    list-style: none;
    margin-right: 10px;
}

.form-horizontal .controls * {
    vertical-align: top;
}

.form-horizontal .control-value {
    margin-top: 3px;
}

.form-horizontal .help-text {
    font-size: 0.9em;
    margin: 0;
}

/* --------- icons ----------- */
i.icon-inline {
    margin: 0 5px;
}

/* --------- texts ----------- */
.text-justify {
    text-align: justify;
}