/* ------ navigation panels ------- */
.nav-tabs {
    margin-bottom: 0;
}

.tab-content {
    padding-top: 20px;
    border: solid;
    border-width: 0 1px 1px 1px;
    border-color: #E5E5E5;
}

/* ------ vitrin list -------- */
.vitrin {

}

.vitrin-item {
    position: relative;
}

.vitrin-box {
    margin: 0 18px 0 19px !important;
}

.vitrin-item > .thumbnail {
    width: 100px;
    height: 100px;
}

.thumbnail > img {
    max-height: 100%;
}

.vitrin-item > p {
    font-size: 80%;
    height: 20px;
    text-overflow: ellipsis;
}

.vitrin-item > .option {
    position: absolute;
    padding: 1px;
    top: 3px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}

.vitrin-item > .option,
.vitrin-item > .option.disabled:hover {
    opacity: 0.5;
}

.vitrin-item > .option:hover {
    opacity: 1;
}

.vitrin-item > .option.option-large {
    width: 40px;
    height: 40px;
    padding: 3px;
}

.option.pull-right {
    right: 3px;
}

.option.pull-left {
    left: 3px;
}

/* ----- popups ----- */
.info-box {
    position: absolute;
    left: 100px;
    top: 100px;
    display: none;
    z-index: 100;
}

/* ----- alerts ----- */
.alert {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -150px;
    width: 300px;
    height: 95px;
    z-index: 1000;
}

/* ----- vitrin page ----- */
.vitrin-thumb {
    width: 45px;
    height: 45px;
}

.vitrin-icon {
    width: 200px;
    height: 200px;
}

.tab-pane {
    padding: 10px;
    min-height: 100px;
}

#iconModalLabel {
    margin: 5px 0;
}

#iconModal .modal-body {
    max-height: none;
    max-width: 600px;
}

.vitrin-icon-large {
    display: block;
    margin: 5px auto;
    max-height: 300px;
    max-width: 300px;
}

/* ------- Ad Edit form -------- */
.newRowBtn {
    cursor: pointer;
}

.inputRow.empty {
    display: none;
}

/* ------- alert -------- */
.alert {
    position: fixed;
    z-index: 2000;
    /*top: 50%;*/
    /*left: 50%;*/
    /*width: 200px;*/
    /*height: 50px;*/
    /*margin-top: -25px;*/
    /*margin-left: -100px;*/
}