/* ------ navigation panels ------- */
.nav-tabs
{
	margin-bottom: 0;
}
.tab-content
{
	padding-top: 20px;
	border: solid;
	border-width: 0 1px 1px 1px;
	border-color: #E5E5E5;
}

/* ------ vitrin -------- */
.vitrin
{
	
}

.vitrin-item
{
	position: relative;
}

.thumbnail
{
    width: 100px;
    height: 100px;
}

.thumbnail > img
{
    max-height: 100%;
}

.vitrin-item > p
{
	font-size: 80%;
}

.vitrin-item > .option
{
	position: absolute;
	padding: 1px;
	top: 3px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	opacity: 0.5;
}

.vitrin-item > .option:hover
{
	opacity: 1;
}

.opt-shop
{
	right: 3px;
}

.opt-info
{
	left: 3px;
}

/* ----- popups ----- */
.info-box
{
	position: absolute;
	left: 100px;
	top: 100px;
	display: none;
	z-index: 100;
}
/* ----- alerts ----- */
.alert
{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -150px;
	width: 300px;
	height: 95px;
	z-index: 1000;
}